$ratchicons-path: "../../../node_modules/amazeui-touch/fonts/";

@import "~amazeui-touch/scss/amazeui.touch.scss";

/* Container `fade` 动画示例 */
.view-transition-fade-enter {
  opacity: 0.01;
}

.view-transition-fade-enter.view-transition-fade-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in;
}

.view-transition-fade-leave {
  opacity: 1;
}

.view-transition-fade-leave.view-transition-fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.rc-scroll-wrapper{
  top: 40px !important;
}

.rc-ptr-box .rc-ptr-image{
  top: 40px !important;
}

//导航栏颜色
.navbar{
  background-color: white;
}
.navbar-title{
  color:black;
}
.navbar-nav-item{
  color:#ff4046 !important;
}

//Link样式
.list-link{
  display:flex;
  width:100%;
  height: 100%;
  color:black;
}
